:root{
    --color-principa: white;
}

body{
    /* background-color: blue; */
    background-image: url('fondoparaweb.png');
    background-size: cover;
}

p{
    color: red;
}

/* elijo por el id */
#primer-parrafo{
    color: gold;
}

/* elijo por la clase */
.blanco{
    color: white;
}

.grande{
    font-size: 30px;
    font-family: 'Yuji Mai', serif;
}

/* padre .grande e hijo b */
.grande b{
    color: red;
}

/* quiero tomar dos */
.hola , .como-estas{
    color: green;
}

.boton {
    color: red;
    background-color: rgb(77, 195, 237);
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border: solid gray 2px;
    }

.boton:hover{
    background-color: blue;
}

.menu{
    background-color: green;
}

.menu li{
    display: inline-block;
    background: blue;
    padding: 10px;
}

.menu li:hover{
    background-color: red;
}

.menu li a{
    text-decoration: none;
    color: white;

}


@media (min-width:600px){
    .principal{
        width: calc(100%-10px);
    }
    body{
        background-size: auto;
    }
}

p {
    color: var(--color-principa);
}